body,html{
    width: 100%;
    height: 100%;
    margin: 0;
}
.NombresFlex
{
font-weight: bold;
font-size: large;
}
.bg-yellow{
    background-color:yellow;
}
.bg-red{
    background-color:red;
}
.bg-orange{
    background-color: orange;
}
.bg-cyan
{
    background-color: cyan;
}
.flex-container
{
    display: flex;    
}
.flex-direction-row
{
    flex-direction: row;
}
.flex-direction-column 
{
    flex-direction: column;
}
.justify-content-end{
    justify-content: end;
}
.width-20
{
    width: 20%;  
}
.width-80
{
    width: 80%;  
}
.width-100
{
    width: 100%;  
}
.height-20{
    height: 50%;  
}
.height-50{
    height: 50%;  
}
.height-100{  
    height: 100%;
}

