body{
    background: url(../img/gato.jpg) no-repeat center;

}
div{
    /* width: 100px; */
    /* height: 100px; */
    background-color: hsl(0, 75%, 40%);
    /* border-style: dashed; */
    border: 0.5em solid black;
    /* border-radius: 100px; */
    margin: 5px;
    height: 50px;
    padding: 50px;
}
p{
    text-align: left;
    /*text-decoration:underline;
     text-decoration: line-through;
    text-decoration: overline;
    text-transform: lowercase; 
    text-indent: 10px;
    letter-spacing: 10px;
    line-height: 10px;*/
    font-family: 'Trade Winds';
    font-size: 40px
}
ul .a{
list-style-type: square;
}
table{
    border-collapse: collapse;
}
table,th,td{
    border:1px solid red;
}
tr:nth-child(even)
{
    background-color: royalblue;
}
tbody tr:hover{
    color: red;
    background-color: black;
}
#divflex{   
    background: blue ;   
    height: 400px;
}
#primero{
    width: 500px;
}
.flex-container
{
    display: flex;
    flex-wrap: wrap;
}
.justify-content-start{
    justify-content: flex-start;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-end{
    justify-content: end;
}
.aling-items-top{
    align-items: flex-start;
}
.aling-items-center{
    align-items: center;
}
.aling-items-end{
    align-items: flex-end;
}
